body {
    background-image: url(https://i.pinimg.com/originals/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg);                                                                                                                                                                        
    background-size:cover;                                                                                                                                                                                                                                                                                                                                          
    background-repeat: no-repeat ;                                                                                                                                                                                                                   
    background-position: center;                                                                                                                                
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;                    
}
h1{
    color:deeppink;
}
p{
    font-size: 18px;
}
#container {
    background-image: url(https://cdn.vectorstock.com/i/1000v/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg);
    background-color:rgb(44, 147, 178);
    opacity: 0.7;
    padding: 30px;                                                                                                                              
    height: 280px;                                                                                                                                                                                      
    width: 380px;                                                                                                                                       
    display: flex;                                                                                                          
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 4px solid rgb(24, 13, 146);
    overflow-y: auto; 
    box-sizing: border-box;
}

#addbtn{
    background-color:lightgreen;
    font-weight: bold;
}
#delbtn{
    margin-left: 5px;
    background-color: red;
    border-radius: 6px;
}
#cmptbtn{
    margin-left: 5px;
    background-color: green;
    border-radius: 6px;
}
